.add-prodcut-title{
  text-align: center;
  margin-top: 50px;
}

.product_list{
  width: 400px;
  margin: 40px auto;
  padding:20px;
  border:1px solid #eee;

  li{
    height: 50px;
    line-height: 50px;
    .fonm_input{
      width: 300px;
      height: 30px;
    }

  }
  .prouduct-form {
   font-size: 18px;
     }
  .prouduct-form input{
    width: 300px;
    height: 30px;
    border: 1px solid #eee;
    margin-top: 10px;
  }
  .submit{
    width: 100px;
    height: 30px;
    float: right;
    margin-right: 50px;
    margin-top:30px;
    background-color: #1875d1;
    border: none;
    color: white;
    font-weight: bolder;

  }
  .checkName{
    font-size: 14px;
    color: red;
  }
}
