.product{
  margin-top: 20px;
  margin-right: 20px;
}
.product h2{
  margin: 0;
  padding: 0;
}
.product img{
  width: 200px;
  height: auto;
}
.product-details{
  margin-top: 5px;
  font-size: 18px;
}
.product-details button{
  margin-left: 5px;
  background-color: #1875d1;
  border: none;
  width: 30px;
  height: auto;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.product-price{
  font-size: 18px;
  padding-left: 3px;
}
.product-unit{
  color: gray;
  font-size: 14px;
}
.product-details button{
  margin-left: 130px;
}
